.view-resources {
  display: flex;
  min-height: 100vh;
  background: white;
}

.view-resources__grid {
  flex: 1;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: 20px;
  align-content: start;
}
